body {
  background-color: #f0f0f0;
}
input {
  width: 300px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  font-size: 20px;
}
button {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #888888;
  padding: 10px 15px;
  font-size: 20px;
  outline: none;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
button:hover,
button:active {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
hr {
  color: #888888;
  margin: 20px 0;
}
.app-name {
  padding: 10px;
  font-family: "Anton", sans-serif;
}
